// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ContexthubApi from "../../../index.js";

export declare namespace FoldersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FoldersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FoldersClient.Options>;

    constructor(options: FoldersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists one level. Omit `parent` for the top level, or pass a folder id to list
     * inside it.
     *
     * @param {ContexthubApi.ListFoldersRequest} request
     * @param {FoldersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.folders.listFolders()
     */
    public listFolders(
        request: ContexthubApi.ListFoldersRequest = {},
        requestOptions?: FoldersClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.FolderList> {
        return core.HttpResponsePromise.fromPromise(this.__listFolders(request, requestOptions));
    }

    private async __listFolders(
        request: ContexthubApi.ListFoldersRequest = {},
        requestOptions?: FoldersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.FolderList>> {
        const { parent, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            parent,
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/folders",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.FolderList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/folders");
    }

    /**
     * Creates a folder and grants your key's principal ownership of it.
     *
     * A folder NAME may not contain a slash. Folders here are path prefixes, so a
     * slash in a name would silently manufacture an intermediate folder, and that
     * folder would be a permission scope. Use `path` to nest instead.
     *
     * @param {ContexthubApi.CreateFolderRequest} request
     * @param {FoldersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.folders.createFolder({
     *         "Idempotency-Key": "Idempotency-Key",
     *         folder: "handbook"
     *     })
     */
    public createFolder(
        request: ContexthubApi.CreateFolderRequest,
        requestOptions?: FoldersClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.FolderCreated> {
        return core.HttpResponsePromise.fromPromise(this.__createFolder(request, requestOptions));
    }

    private async __createFolder(
        request: ContexthubApi.CreateFolderRequest,
        requestOptions?: FoldersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.FolderCreated>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/folders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.FolderCreated, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/folders");
    }
}
