// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ContexthubApi from "../../../index.js";

export declare namespace AccessClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccessClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccessClient.Options>;

    constructor(options: AccessClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the grants written directly on this scope. Requires that your key's
     * principal OWNS the scope: the list of who can reach something is itself
     * sensitive, so being able to read a document does not entitle you to
     * enumerate everyone else who can.
     *
     * Inherited grants are not included. Those live on ancestor scopes, and
     * reporting them would turn a question about one document into a partial map
     * of the tree above it.
     *
     * @param {ContexthubApi.ListGrantsRequest} request
     * @param {AccessClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.access.listGrants({
     *         scope_type: "document",
     *         scope_id: "scope_id"
     *     })
     */
    public listGrants(
        request: ContexthubApi.ListGrantsRequest,
        requestOptions?: AccessClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.GrantList> {
        return core.HttpResponsePromise.fromPromise(this.__listGrants(request, requestOptions));
    }

    private async __listGrants(
        request: ContexthubApi.ListGrantsRequest,
        requestOptions?: AccessClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.GrantList>> {
        const { scope_type: scopeType, scope_id: scopeId } = request;
        const _queryParams: Record<string, unknown> = {
            scope_type: scopeType,
            scope_id: scopeId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/grants",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.GrantList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/grants");
    }

    /**
     * Gives a principal or group a role on a document, folder, or the whole
     * workspace. Requires that your key's principal OWNS the scope, so you can only
     * widen access to content that is already yours.
     *
     * `scope_type` is required and is never inferred from `scope_id`. A document and
     * a directory can share a path, and they are different scopes with different
     * owners: owning a file called `reports` is not owning `reports/`.
     *
     * Subjects are addressed by id and must already exist. This endpoint does not
     * resolve email addresses, invite people, or create guest access for someone
     * outside the workspace. Those flows send mail and can admit a stranger, so
     * they stay in the console where a person performs them deliberately.
     *
     * @param {ContexthubApi.CreateGrantRequest} request
     * @param {AccessClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.access.createGrant({
     *         "Idempotency-Key": "Idempotency-Key",
     *         subject_type: "user",
     *         subject_id: "subject_id",
     *         role: "owner",
     *         scope_type: "document",
     *         scope_id: "scope_id"
     *     })
     */
    public createGrant(
        request: ContexthubApi.CreateGrantRequest,
        requestOptions?: AccessClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.Grant> {
        return core.HttpResponsePromise.fromPromise(this.__createGrant(request, requestOptions));
    }

    private async __createGrant(
        request: ContexthubApi.CreateGrantRequest,
        requestOptions?: AccessClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.Grant>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/grants",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.Grant, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/grants");
    }

    /**
     * Removes one grant, identified exactly. Requires ownership of the scope, the
     * same as granting.
     *
     * Revoking takes effect immediately: the subject's next request no longer sees
     * the content. Revoking a grant that does not exist is not an error, it returns
     * `revoked: false`, so this is safe to call without checking first.
     *
     * No `Idempotency-Key` is needed, since repeating a revoke has no additional
     * effect.
     *
     * @param {ContexthubApi.RevokeGrantRequest} request
     * @param {AccessClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.access.revokeGrant({
     *         subject_type: "user",
     *         subject_id: "subject_id",
     *         role: "owner",
     *         scope_type: "document",
     *         scope_id: "scope_id"
     *     })
     */
    public revokeGrant(
        request: ContexthubApi.RevokeGrantRequest,
        requestOptions?: AccessClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.RevokeResult> {
        return core.HttpResponsePromise.fromPromise(this.__revokeGrant(request, requestOptions));
    }

    private async __revokeGrant(
        request: ContexthubApi.RevokeGrantRequest,
        requestOptions?: AccessClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.RevokeResult>> {
        const {
            subject_type: subjectType,
            subject_id: subjectId,
            role,
            scope_type: scopeType,
            scope_id: scopeId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            subject_type: subjectType,
            subject_id: subjectId,
            role,
            scope_type: scopeType,
            scope_id: scopeId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/grants",
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.RevokeResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/grants");
    }
}
