// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ContexthubApi from "../../../index.js";

export declare namespace ServiceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ServiceClient {
    protected readonly _options: NormalizedClientOptions<ServiceClient.Options>;

    constructor(options: ServiceClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Reports that the service is serving. Requires no credential and touches no
     * tenant data, so it is safe for an uptime monitor.
     *
     * @param {ServiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.service.checkHealth()
     */
    public checkHealth(
        requestOptions?: ServiceClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.HealthStatus> {
        return core.HttpResponsePromise.fromPromise(this.__checkHealth(requestOptions));
    }

    private async __checkHealth(
        requestOptions?: ServiceClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.HealthStatus>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/health",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.HealthStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ContexthubApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/health");
    }
}
