// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ContexthubApi from "../../../index.js";

export declare namespace DocumentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DocumentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DocumentsClient.Options>;

    constructor(options: DocumentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ContexthubApi.ListDocumentsRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.listDocuments({
     *         folder: "folder"
     *     })
     */
    public listDocuments(
        request: ContexthubApi.ListDocumentsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.DocumentList> {
        return core.HttpResponsePromise.fromPromise(this.__listDocuments(request, requestOptions));
    }

    private async __listDocuments(
        request: ContexthubApi.ListDocumentsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.DocumentList>> {
        const { folder, path, type: type_, label, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            folder,
            path,
            type: type_,
            label,
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/documents",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.DocumentList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents");
    }

    /**
     * Creates a document and grants your key's principal write and read access to
     * it, so you can read back what you just wrote.
     *
     * `Idempotency-Key` is required. Reusing a key with an identical body returns
     * the original outcome with `replayed: true`; reusing it with a different body
     * is a `409`.
     *
     * @param {ContexthubApi.CreateDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.createDocument({
     *         "Idempotency-Key": "Idempotency-Key",
     *         folder: "handbook",
     *         path: "onboarding/day-one.md",
     *         content: "content"
     *     })
     */
    public createDocument(
        request: ContexthubApi.CreateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.WriteResult> {
        return core.HttpResponsePromise.fromPromise(this.__createDocument(request, requestOptions));
    }

    private async __createDocument(
        request: ContexthubApi.CreateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.WriteResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/documents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.WriteResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/documents");
    }

    /**
     * @param {ContexthubApi.RetrieveDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.retrieveDocument({
     *         path: "onboarding/day-one.md",
     *         folder: "folder"
     *     })
     */
    public retrieveDocument(
        request: ContexthubApi.RetrieveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.DocumentContent> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveDocument(request, requestOptions));
    }

    private async __retrieveDocument(
        request: ContexthubApi.RetrieveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.DocumentContent>> {
        const { path, folder, offset } = request;
        const _queryParams: Record<string, unknown> = {
            folder,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                `v1/documents/${core.url.encodePathParam(path)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.DocumentContent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/{path}");
    }

    /**
     * `If-Match` is required. Send the `ETag` from a read to update only if the
     * document has not changed since, or `*` to overwrite unconditionally.
     *
     * @param {ContexthubApi.UpdateDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.updateDocument({
     *         "If-Match": "If-Match",
     *         path: "onboarding/day-one.md",
     *         folder: "folder",
     *         content: "content"
     *     })
     */
    public updateDocument(
        request: ContexthubApi.UpdateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.WriteResult> {
        return core.HttpResponsePromise.fromPromise(this.__updateDocument(request, requestOptions));
    }

    private async __updateDocument(
        request: ContexthubApi.UpdateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.WriteResult>> {
        const { path, folder, "If-Match": ifMatch, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            folder,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "If-Match": ifMatch }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                `v1/documents/${core.url.encodePathParam(path)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.WriteResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/documents/{path}");
    }

    /**
     * Requires `owner` on the document, a higher bar than updating it. A delete is
     * the one operation with no inverse: an update leaves the prior version in
     * history and a rename relocates content that still exists, but a delete ends
     * the object.
     *
     * `If-Match` is required, for the same reason as on update.
     *
     * @param {ContexthubApi.DeleteDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.deleteDocument({
     *         "If-Match": "If-Match",
     *         path: "onboarding/day-one.md",
     *         folder: "folder"
     *     })
     */
    public deleteDocument(
        request: ContexthubApi.DeleteDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.DeleteResult> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDocument(request, requestOptions));
    }

    private async __deleteDocument(
        request: ContexthubApi.DeleteDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.DeleteResult>> {
        const { path, folder, "If-Match": ifMatch } = request;
        const _queryParams: Record<string, unknown> = {
            folder,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "If-Match": ifMatch }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                `v1/documents/${core.url.encodePathParam(path)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.DeleteResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/documents/{path}");
    }

    /**
     * Renames without relocating. Takes a `name`, never a path: a name may not
     * contain a slash, because folders here exist only as path prefixes, so a
     * slash would manufacture an intermediate folder and that folder would be a
     * permission scope. Use `POST /v1/moves` to relocate.
     *
     * Authorization is stricter than a write. The whole subtree under `from` must
     * be yours to change, including any part of it you cannot see, for the same
     * reason delete is all-or-nothing: renaming what you cannot read is acting on
     * what you cannot read.
     *
     * A rename that changes who can reach the content is refused unless
     * acknowledged. See `POST /v1/moves` for how that works, since it is the same
     * gate.
     *
     * @param {ContexthubApi.RenameDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.renameDocument({
     *         "Idempotency-Key": "Idempotency-Key",
     *         folder: "handbook",
     *         from: "onboarding/day-one.md",
     *         name: "day-1.md"
     *     })
     */
    public renameDocument(
        request: ContexthubApi.RenameDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.MoveResult> {
        return core.HttpResponsePromise.fromPromise(this.__renameDocument(request, requestOptions));
    }

    private async __renameDocument(
        request: ContexthubApi.RenameDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.MoveResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/renames",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.MoveResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/renames");
    }

    /**
     * Relocates content between folders. Authorized on both sides: the source
     * subtree must be yours to change (all of it, including parts you cannot see),
     * and you must be able to write at the destination. Without the destination
     * half, a move would be a way to place content into a folder you could not
     * otherwise write to.
     *
     * ## Moves can change who can see things
     *
     * Access follows the path here, so relocating content can widen or narrow who
     * reaches it. A move that WIDENS access is refused with `409` and a report of
     * what would change. Re-send with `acknowledge_access_change: true` once that
     * change has been reviewed.
     *
     * Two distinct refusals, told apart by the `acknowledgeable` field rather than
     * by the status code:
     *
     * - `acknowledgeable: true` means you may proceed once you have reviewed the
     *   change.
     * - `acknowledgeable: false` means widening here would be a grant you are not
     *   permitted to make at the destination. No acknowledgement will help; you
     *   need access granted at the destination first.
     *
     * A narrowing move is reported but never gated: taking access away is not the
     * direction that needs a second opinion.
     *
     * The reported subjects are bounded by what your own credential can already
     * discover. Counts of subjects you cannot see are not included.
     *
     * @param {ContexthubApi.MoveDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContexthubApi.BadRequestError}
     * @throws {@link ContexthubApi.UnauthorizedError}
     * @throws {@link ContexthubApi.NotFoundError}
     * @throws {@link ContexthubApi.ConflictError}
     * @throws {@link ContexthubApi.TooManyRequestsError}
     * @throws {@link errors.ContexthubApiError}
     * @throws {@link errors.ContexthubApiTimeoutError}
     *
     * @example
     *     await client.documents.moveDocument({
     *         "Idempotency-Key": "Idempotency-Key",
     *         from_folder: "drafts",
     *         from: "q3-plan.md",
     *         to_folder: "handbook",
     *         to: "planning/q3-plan.md"
     *     })
     */
    public moveDocument(
        request: ContexthubApi.MoveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<ContexthubApi.MoveResult> {
        return core.HttpResponsePromise.fromPromise(this.__moveDocument(request, requestOptions));
    }

    private async __moveDocument(
        request: ContexthubApi.MoveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContexthubApi.MoveResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContexthubApiEnvironment.Production,
                "v1/moves",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ContexthubApi.MoveResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContexthubApi.BadRequestError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ContexthubApi.UnauthorizedError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ContexthubApi.NotFoundError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ContexthubApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ContexthubApi.TooManyRequestsError(
                        _response.error.body as ContexthubApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ContexthubApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/moves");
    }
}
