// This file was auto-generated by Fern from our API Definition.

import * as AgentlefsApi from "./api/index.js";
import { AccessClient } from "./api/resources/access/client/Client.js";
import { DocumentsClient } from "./api/resources/documents/client/Client.js";
import { FoldersClient } from "./api/resources/folders/client/Client.js";
import { ServiceClient } from "./api/resources/service/client/Client.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace AgentlefsApiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentlefsApiClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentlefsApiClient.Options>;
    protected _service: ServiceClient | undefined;
    protected _documents: DocumentsClient | undefined;
    protected _folders: FoldersClient | undefined;
    protected _access: AccessClient | undefined;

    constructor(options: AgentlefsApiClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get service(): ServiceClient {
        return (this._service ??= new ServiceClient(this._options));
    }

    public get documents(): DocumentsClient {
        return (this._documents ??= new DocumentsClient(this._options));
    }

    public get folders(): FoldersClient {
        return (this._folders ??= new FoldersClient(this._options));
    }

    public get access(): AccessClient {
        return (this._access ??= new AccessClient(this._options));
    }

    /**
     * Searches only what your key can read. Results are never padded with content
     * you lack access to, and the response does not report how much was filtered.
     *
     * @param {AgentlefsApi.SearchRequest} request
     * @param {AgentlefsApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.search({
     *         q: "q"
     *     })
     */
    public search(
        request: AgentlefsApi.SearchRequest,
        requestOptions?: AgentlefsApiClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.SearchResults> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: AgentlefsApi.SearchRequest,
        requestOptions?: AgentlefsApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.SearchResults>> {
        const { q, mode, folder, limit } = request;
        const _queryParams: Record<string, unknown> = {
            q,
            mode: mode != null ? mode : undefined,
            folder,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                "v1/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.SearchResults, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/search");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
                getAuthHeaders: async () => (await this._options.authProvider.getAuthRequest()).headers,
            },
            requestOptions,
        );
    }
}
